@font-face {
    font-display: swap;
    font-family: Fauna One;
    font-style: normal;
    font-weight: 400;
    src: url('/font/FaunaOne-Regular.woff') format('woff'),
         url('/font/FaunaOne-Regular.woff2') format('woff2');
}

body { 
    margin: 0;
}

.intro-title {
    align-items: center;
    border: 2px solid #333;
    box-sizing: border-box;
    display: flex;
    font-family: 'Fauna One', serif;
    height: 300px;
    padding: 12px;
    width: 100%
}
