:root {
	--input-active-color: linear-gradient(hsl(249, 99%, 64%),hsl(278, 94%, 30%));
	--input-error-color: hsl(0, 100%, 66%);
	--white: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--very-dark-violet: hsl(278, 68%, 11%);
	--base-font: 'Space Grotesk', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--base-font);
	font-size: 18px;
	margin: 0;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

@media (min-width: 1440px) {
	body {
			align-items: center;
			background-color: var(--light-grayish-violet);
			display: flex;
			min-height: 100vh;
	}
}

@media (min-width: 1440px) {
	.layout {
			background-color: var(--white);
			display: grid;
			grid-template-columns: 483px calc(1440px - 483px);
			max-width: 1440px;
			margin: 0 auto;
			align-items: center;
	}
}

.card-container {
	position: relative
}

.card-container picture img {
	object-fit: cover;
}

.card-back,
.card-front {
	border-radius: 12px;
	box-shadow: 5px 15px 15px -10px rgba(0,0,0,.3);
	max-height: 158px;
	max-width: 286px;
	position: absolute;
	right: 0;
	top: 32px;
}

.card-front {
	left: 16px;
	top: 124px;
}

.card-back {
	left: 72px;
}

@media (min-width: 1440px) {
	.card-front {
			color: var(--white);
			left: 164px;
			max-height: none;
			max-width: none;
			height: 245px;
			width: 447px;
			right: auto;
			top: 187px;
	}

	.card-back {
			bottom: 187px;
			left: 258px;
			max-height: none;
			max-width: none;
			height: 245px;
			width: 447px;
			top: auto;
	}
}

.form-container {
	padding: 94px 24px 44px;
}

@media (min-width: 1440px) {
	.form-container {
			display: flex;
			justify-content: center;
	}

	.form-container form {
			width: 380px;
	}
}

.form-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}

.form-input:last-child {
	margin-bottom: 0;
}

.form-input label {
	font-size: 14px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.form-input input {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--white);
	border: 0;
	border-radius: 6px;
	height: 43px;
	left: 1px;
	position: relative;
	padding: 0 16px;
	text-transform: capitalize;
	top: 1px;
	width: calc(100% - 2px);
	z-index: 2;
}

.form-input input:focus,
.form-input input:focus-visible {
	outline: none
}

.form-input input:focus + .form-bg,
.form-input input:focus-visible + .form-bg {
	background: var(--input-active-color)
}

.form-input-group {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.form-input-container {
	height: 45px;
	position: relative;
}

.form-input-group .form-input-container {
	width: 72px
}

.form-input-group .form-input:nth-child(2),
.form-input-group .form-input:nth-child(2) .form-input-container {
	width: 100%;
}

.form-bg {
	background: var(--dark-grayish-violet);
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	z-index: 1;
}

.card-number,
.card-name,
.card-date,
.card-cvc {
	left: 33px;
	position: absolute;
	text-transform: uppercase;  
}

@media (min-width: 1440px) {
	.card-number,
	.card-name,
	.card-date,
	.card-cvc {
			bottom: 30px;
	}
}

.card-number {
	bottom: 52px;
	color: var(--white);
	font-size: 18px;
}

@media (min-width: 1440px) {
	.card-number {
			bottom: 72px;
			font-size: 32px
	}
}

.card-name {
	bottom: 22px;
	color: var(--white);
	font-size: 10px;
}

@media (min-width: 1440px) {
	.card-name {
			font-size: 18px
	}
}


.card-date {
	bottom: 22px;
	color: var(--white);
	display: flex;
	font-size: 10px;
	left: auto;
	right: 35px;
}

@media (min-width: 1440px) {
	.card-date {
			font-size: 18px;
	}
}

.card-cvc {
	bottom: 114px;
	color: var(--white);
	left: auto;
	right: 60px;
}

.form-input input[data-input="card-date"]:first-child {
	border-radius: 6px;
}

.form-input input[data-input="card-date"]:first-child + .form-bg {
	border-radius: 6px;
	width: 100%
}

.form-input input[data-input="card-date"]:last-child {
	border-left: 0;
	border-radius: 0 6px 6px 0;
}

.form-input input[data-input="card-date"]:last-child + .form-bg {
	border-radius: 0 6px 6px 0;
	width: 100%
}

.form-input input[type="submit"] {
	background-color: var(--very-dark-violet);
	color: var(--white);
	cursor: pointer;
	font-family: var(--base-font);
}

.form-confirm {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.form-confirm p {
	color: var(--dark-grayish-violet)
}

.form-confirm button {
	background-color: var(--very-dark-violet);
	border: 0;
	color: var(--white);
	cursor: pointer;
	font-family: var(--base-font);
	border-radius: 6px;
	height: 43px;
	left: 1px;
	position: relative;
	padding: 0 16px;
	text-transform: capitalize;
	top: 1px;
	width: calc(100% - 2px);
	z-index: 2;
}

.hidden {
	display: none;
}