$cards: 'work', 'play', 'study', 'exercise', 'social', 'self-care';

%card-bg {
    background-position: 0 100%;
    background-repeat: no-repeat;
}

@each $card in $cards {
  .card--#{$card} {
      background-color: var(--color-#{$card});
      @extend %card-bg;
  }
}

.section-card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 1440px) {
        flex-wrap: wrap;
        gap: 15px;
    }
}
  
.card {
    border-radius: 12px;
    min-height: 150px;
    position: relative;

    @media (min-width: 1440px) {
        width: calc((100% - 30px) / 3);
    }
}

.card-content {
    background-color: var(--dark-blue);
    border-radius: 12px;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    height: 122px;
    padding: 20px;
    position: absolute;
    width: 100%;
}

.card-title {
    color: var(--pale-blue);
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 16px;
}

.card-hour {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card-current-hour {
    color: var(--pale-blue);
    font-size: 24px;
    font-weight: 300;

    &:after {
        content: 'hrs';
    }
}

.card-previous-hour {
    color: var(--desaturated-blue);

    &:before {
        content: 'Last weeks - ';
    }
    
    &:after {
        content: 'hrs';
    }
}