.tab-list {
    background-color: var(--dark-blue);
}

.tab-item {
    cursor: pointer;
    margin-bottom: 8px;
}

.tab-item {
    &.active:after {
        background-color: orange;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 5px;
        width: 5px;
    }
}