.tab-list {
    background-color: var(--dark-blue);
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    @media (min-width: 1440px) {
        flex-direction: column;
    }
}

.tab-item {
    cursor: pointer;
    margin-bottom: 8px;
}

.tab-item {
    &.active {
        color: var(--pale-blue);
    }
}