.section-user {
    background-color: var(--blue);
    border-radius: 12px;
    margin-bottom: 24px;
}

.user {
    align-items: center;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    padding: 20px;
}

.user-avatar {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 68px;
    width: 68px;

    img {
        max-width: 100%;
    }
}

.user-name {
    h2 {
        margin: 0;
    }
}