.user {
    background-color: var(--blue);
    display: flex;
    padding: 20px;
}

.user-avatar {
    border: 2px solid #fff;
    border-radius: 50%;
    height: 88px;
    width: 88px;

    img {
        max-width: 100%;
    }
}

.user-name {
    h2 {
        margin: 0;
    }
}